.wishlist-heading {
  color: var(--primary-color);
}
.wishlist-container {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  flex-direction: column;
}
.wishlist-products-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}
.no-items-in-wishlist-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 4rem;
}
